@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-thin";
  src: url("./font/Roboto/Roboto-Thin.ttf");
}

html {
  font-family: "Roboto";
}

@media (max-width: 830px) {
  .nav-header__logo {
    @apply hidden;
  }
}

@layer components {
  #__next {
    @apply max-w-7xl m-auto p-0 sm:px-5;
  }

  .nav-header {
    @apply flex justify-between items-center h-16 bg-white text-slate-500 relative w-full;
  }

  .nav-header__wrapper {
    @apply flex z-10;
  }

  .nav-header__item {
    @apply p-2 hover:text-blue-600 hover:cursor-pointer hover:underline hover:underline-offset-8 hover:decoration-blue-600 hover:decoration-2;
  }

  .nav-header__item:first-child {
    @apply pl-0;
  }

  .nav-header__logo {
    @apply pt-6 absolute w-full m-0 flex justify-center items-center;
  }

  .nav-header__logo-inside {
    @apply cursor-pointer;
  }

  .nav-header__search {
    @apply relative block flex items-center;
  }

  .nav-header__search-input {
    @apply placeholder:text-slate-400 block bg-white w-full outline-none border-none py-2 pl-3 pr-3 text-sm;
  }

  .nav-header__search-cart-wrapper {
    @apply cursor-pointer z-10 flex;
  }

  /* Slider */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next {
    @apply bg-gray-600;
  }
}
