.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border-radius: 20px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
}
